<!-- CompanionConnect/views/dashboard.handlebars -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-header">
          <h4>Welcome to Your Dashboard</h4>
        </div>
        <div class="card-body">
          <p>Hello, {{username}}!</p>
          <p>Here, you can manage your pet adoption process.</p>
          <ul>
            <li><a href="/post">Your Pets</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/account-settings">Account Settings</a></li>
            <!-- Add a link to the /post page here -->
            <li><a href="/post">Upload Your Pet Photo</a></li>
            <!-- Add the logout link here -->
            <li><a href="/api/users/logout">Logout</a></li>
          </ul>

          <!-- Display the user's uploaded pet photos -->
          <h4>Your Uploaded Pet Photos</h4>
          {{#if petPhotos}}
            <ul>
              {{#each petPhotos}}
                <li>
                  <img src="{{image_url}}" alt="Pet Photo" width="200">
                  <!-- Add a delete button next to the image. The data-id attribute holds the ID of the photo. -->
                  <button data-id="{{id}}" class="delete-photo-btn">Delete</button>
                </li>
              {{/each}}
            </ul>
          {{else}}
            <p>You haven't uploaded any pet photos yet.</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
   <script src="/js/dashboard.js"></script>
</div>
