<!-- CompanionConnect/views/home.handlebars -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-header">
          <h4>Welcome to Our Pet Adoption Website!</h4>
        </div>
        <div class="card-body">
          <p>Explore heartwarming stories and helpful information about our beloved animal companions.</p>
          <p>Our blog is dedicated to celebrating the joy and love that pets bring into our lives.</p>
          <p>Join our community and share your own stories about your furry friends!</p>

          {{#if isAuthenticated}}
            <!-- If the user is authenticated (logged in), show the anchor tag for the dashboard -->
            <a href="/dashboard" class="btn btn-primary">Get Started</a>
          {{else}}
            <!-- If the user is not authenticated (not logged in), show the anchor tag for the login page -->
            <a href="/login" class="btn btn-primary">Get Started</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
