/* public/css/style.css */
  
.card-img-top.img-thumbnail {
    max-width: 200px; /* Adjust the maximum width as needed */
    max-height: 200px; /* Adjust the maximum height as needed */
    object-fit: cover;
  }
  
  /* Add custom CSS to set the height of the card body */
